@import settings

.google-analytics-message
  position: fixed
  left: 0
  bottom: 0
  z-index: 2
  display: none
  width: 100%
  background-color: $white
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12)
  padding: 32px

  &.open
    display: flex
    justify-content: center

  .containerCustom
    display: flex
    flex-direction: column
    position: relative
    box-sizing: border-box

    img
      position: absolute
      z-index: 3
      right: 0
      width: 18px
      height: 18px
      fill: red
      top: 0

    h5
      font-weight: 600
      letter-spacing: -0.04em
      +resolution(0, 575)
        font-size: 16px
      +resolution(576)
        font-size: 20px

    p
      font-family: $r
      letter-spacing: $em
      color: $grey-dark
      font-weight: 400
      margin-top: 16px
      +resolution(0, 575)
        font-size: 14px
      +resolution(576)
        font-size: 16px
      +resolution(992)
        max-width: 95%

    .buttons
      display: grid
      margin-top: 24px
      +resolution(576)
        grid-template-columns: auto auto 1fr
        grid-column-gap: 20px
      +resolution(0, 575)
        grid-column-gap: 10px
        grid-template-columns: 1fr 1fr

      .accept,
      .decline
        height: 40px
        border-radius: 4px
        display: flex
        justify-content: center
        align-items: center
        font-family: $a
        font-weight: 700
        letter-spacing: $em
        font-size: 16px
        +resolution(576)
          width: 120px
        +resolution(0, 575)
          width: 100%

      .accept
        background: linear-gradient(135deg, #FF9000 0%, #FFBF12 100%)
        color: $white
        border: none
        transition: background 250ms linear, outline 250ms linear

        &:hover
          background: linear-gradient(135deg, #FFDC7E 0%, #FFBF12 100%)

        &:active
          background: linear-gradient(135deg, #FFBF12 0%, #FF9000 100%)
          outline: 3px solid rgba(255, 144, 0, 0.25)

      .decline
        color: $black
        border: 2px solid $primary
        background-color: transparent
        transition: color 250ms linear, outline 250ms linear, border-color 250ms linear

        &:hover
          color: $primary
          border-color: $secondary

        &:active
          color: $black
          border-coolor: $primary
          outline: 3px solid rgba(255, 144, 0, 0.25)
